<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//rawgit.com/gilbox/angular-simflux-experiment/master/Flux.js"></script>
    <script src="js/customFlux.js"></script>
    <script src="dist/bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body ng-app="vmApp" ng-controller="vmCtrl">
<!--    <div ng-repeat="product in products">
        <button ng-click="purchaseEvent(product)">{{product.name}}</button>
    </div>
    {{tekst}}<br/>
{{counter}}-->

<div class="container vending-machine">
    <div class="vm-top"></div>
    <div class="vm-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="vm-window">

                    <div class="shelf-components">
                        <div class="shelft"></div>
                        <div class="row code-track text-center">
                            <div class="col-lg-2 text-center product-code" ng-repeat="i in ['1','2', '3', '4', '5', '6']">A{{i}}</div>
                        </div>
                        <div class="row product-line">
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/stobi-flips.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/chocko-stobi-flips.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/lays-classic.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/doritos-green.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/patos-green.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/stark-smoki.png" class="product-image">
                            </div>
                        </div>
                    </div>
                    <div class="shelf-components">
                        <div class="shelft"></div>
                        <div class="row code-track text-center">
                            <div class="col-lg-2 text-center product-code" ng-repeat="i in ['1','2', '3', '4', '5', '6']">B{{i}}</div>
                        </div>
                        <div class="row product-line">
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/patos-nacho.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/doritos.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/kiki.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/fritos.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/pringles.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/mandm.png" class="product-image">
                            </div>
                        </div>
                    </div>
                    <div class="shelf-components">
                        <div class="shelft"></div>
                        <div class="row code-track text-center">
                            <div class="col-lg-2 text-center product-code" ng-repeat="i in ['1','2', '3', '4', '5', '6']">C{{i}}</div>
                        </div>
                        <div class="row product-line">
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/kinder-bueno.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/snickers.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/kitkat.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/milka.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/cubuk.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/cubuk-1.png" class="product-image">
                            </div>
                        </div>
                    </div>
                    <div class="shelf-components">
                        <div class="shelft"></div>
                        <div class="row code-track text-center">
                            <div class="col-lg-2 text-center product-code" ng-repeat="i in ['1','2', '3', '4', '5', '6']">D{{i}}</div>
                        </div>
                        <div class="row product-line">
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/sandwich.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/fruti.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/fruti-jagoda.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/evropa-chocolate.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/sprite.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/dove.png" class="product-image">
                            </div>
                        </div>
                    </div>
                    <div class="shelf-components">
                        <div class="shelft"></div>
                        <div class="row code-track text-center">
                            <div class="col-lg-2 text-center product-code" ng-repeat="i in ['1','2', '3', '4', '5', '6']">E{{i}}</div>
                        </div>
                        <div class="row product-line">
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/cocacola.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/7up.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/flover-water.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/ice-tea.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/juice.png" class="product-image">
                            </div>
                            <div class="col-lg-2 product">
                                <img src="resources/imgs/water.png" class="product-image">
                            </div>
                        </div>
                    </div>







                </div>
            </div>
            <div class="col-lg-4 vm-control">
                <div class="control-content">
                    <img src="resources/imgs/logo.png"  class="logo">
                    <div class="controls">

                        <div class="last-purchase">
                            <span>You haven't purchased anything!</span>
                        </div>

                        <div class="pad">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4 pad-key">A</div>
                                        <div class="col-lg-4 pad-key">B</div>
                                        <div class="col-lg-4 pad-key">C</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 pad-key">D</div>
                                        <div class="col-lg-4 pad-key">E</div>
                                        <div class="col-lg-4 pad-key pad-key-disabled"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 pad-key">1</div>
                                        <div class="col-lg-4 pad-key">2</div>
                                        <div class="col-lg-4 pad-key">3</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 pad-key">4</div>
                                        <div class="col-lg-4 pad-key">5</div>
                                        <div class="col-lg-4 pad-key">6</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ok-button">

                                    </div>
                                    <div class="cancel-button">

                                    </div>
                                </div>
                            </div>





                        </div>

                    </div>
                    <div class="product-exit">

                    </div>
                </div>
                <div class="buttons">
                    <div class="green-light"></div>
                    <div class="red-light"></div>
                </div>



            </div>
        </div>
    </div>
</div>




<!--

<div class="container">
    <div class="row vm-top"></div>
    <div class="row">
        <div class="col-lg-8 vm-window">
           <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/stobi-flips.png" class="img-responsive" id="stobi">
                    <div class="product-code">A1</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                    <div class="product-code">A2</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/cocacola.png" class="img-responsive">
                    <div class="product-code">A3</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/kiki.png" class="img-responsive">
                    <div class="product-code">A4</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/Snickers_wrapped.png" class="img-responsive">
                    <div class="product-code">A5</div>
                </div>
            </div>
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/kinder-bueno.png" class="img-responsive">
                    <div class="product-code">B1</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/sprite.png" class="img-responsive">
                    <div class="product-code">B2</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/dove.png" class="img-responsive">
                    <div class="product-code">B3</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/mandm.png" class="img-responsive">
                    <div class="product-code">B4</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/water.png" class="img-responsive">
                    <div class="product-code">B5</div>
                </div>
            </div>
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/doritos.png" class="img-responsive">
                    <div class="product-code">C1</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/doritos-green.png" class="img-responsive">
                    <div class="product-code">C2</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/cocacola.png" class="img-responsive">
                    <div class="product-code">C3</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                    <div class="product-code">C4</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                    <div class="product-code">C5</div>
                </div>
            </div>
            <div class="vm-exit text-center">
                <div class="exit-window"></div>
            </div>
        </div>
        <div class="col-lg-4 control-panel">
        </div>
    </div>
</div>-->

</body>
</html>