<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//rawgit.com/gilbox/angular-simflux-experiment/master/Flux.js"></script>
    <script src="js/customFlux.js"></script>
    <script src="dist/bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body ng-app="vmApp" ng-controller="vmCtrl">
<!--    <div ng-repeat="product in products">
        <button ng-click="purchaseEvent(product)">{{product.name}}</button>
    </div>
    {{tekst}}<br/>
{{counter}}-->


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/stobi-flips.png" class="img-responsive">
                    <div class="product-code">A1</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                    <div class="product-code">A2</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/cocacola.png" class="img-responsive">
                    <div class="product-code">A3</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/kiki.png" class="img-responsive">
                    <div class="product-code">A4</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/Snickers_wrapped.png" class="img-responsive">
                    <div class="product-code">A5</div>
                </div>
            </div>
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/kinder-bueno.png" class="img-responsive">
                    <div class="product-code">B1</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/sprite.png" class="img-responsive">
                    <div class="product-code">B2</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/dove.png" class="img-responsive">
                    <div class="product-code">B3</div>
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
            </div>
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/stobi-flips.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/cocacola.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
            </div>
            <div class="row shelf">
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/stobi-flips.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/cocacola.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
                <div class="col-lg-2 shelf-cell">
                    <img src="resources/imgs/lays-classic.png" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-lg-4 control-panel">
        </div>
    </div>
</div>

</body>
</html>