@font-face {
    font-family: CalculatorStandard;
    src: url("./../resources/fonts/digital-7.ttf");
}

@keyframes blinker {
    50% { opacity: 0; }
}

@keyframes example1 {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

.vending-machine {
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.vm-top {
    background:url("./../resources/imgs/metal-top.jpg");
    border-left: 150px  solid white;
    border-right: 150px solid white;
    border-bottom: 50px solid transparent;
    opacity: .82
}

.vm-body {
    background: url("./../resources/imgs/metal.jpg") ;
    height: 850px;

}

.vm-window {
    margin: 40px;
    margin-right: 0px;
    border:1px solid black;
    height: 770px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: inset 1px 0 170px -65px rgba(0,0,0,0.8), inset 2px 0 38px 3px rgba(0,0,0,0.4);
    position: relative;
}


.shelf-components {
    position: relative;
    height: 130px;
    margin-top: 20px;
}

.single-shelf {
    margin-bottom: 20px;

}

.shelft {
    transform: perspective(2px) rotateX(1deg);
    background: url(./../resources/imgs/metal-white.jpg);
    position: absolute;
    bottom: 36px;
    margin-left: 60px;
    height: 46px;
    z-index: 1;
    width: 78%;
}

.empty-shelfs {
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1;
}

.shelfs-with-products {
    width: 100%;
    position: absolute;
    top:20px;
    z-index: 2;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 40px;
}

.code-track {
    background: url("./../resources/imgs/track.jpg");
    border:1px solid black;
    height: 30px;
    padding-left: 10px;
    margin-left:0px;
    margin-right: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.product-code {
    font-family: CalculatorStandard;
    font-size: 22px;
    color:white;
    margin-bottom: 19px;
}

.vm-control {
    margin-top: 40px;
    margin-bottom: 35px;
    position: relative;
    height: 770px;
}

.control-content {
    position: absolute;
    top:0;
    width: 100%;
}

.buttons {
    position: absolute;
    bottom: 0;
    width:100%;
    padding-left:220px;
}

.logo {
    width: 120px;
    height: 50px;
    margin-left: 120px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.green-light {
    background-color: green;
    border-radius: 1em;
    height: 20px;
    width: 20px;
    animation: blinker 1s linear infinite;
}

.red-light {
    background-color: #660000;
    border-radius: 1em;
    height: 20px;
    width: 20px;
}

.product-line {
    position: absolute;
    bottom:18px;
    z-index: 1;
    padding-left: 0px;
    margin-left:0px;
    margin-right: 0px;
}

.product-image {
    height: 100px;
    width: 70px;
}



.controls {
    border: 1px solid #191919;
    margin-top:30px;
    border-radius: 15px;
    height: 310px;
    margin-right:60px;
    padding: 15px;

    -webkit-box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);
    -moz-box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);
    box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);
}

.last-purchase {
    font-family: CalculatorStandard;
    font-size: 30px;
    color:green;
    font-weight: bold;

    border: 1px solid black;
    background-color: #003300;

    overflow: hidden;
    position: relative;
    height:40px;
    width: 80%;
    margin-top:30px;
}

.last-purchase span {
    position: absolute;
    bottom: 2px;
    width: 400px;
    height: 100%;
    margin: 0;
    text-align: center;
    animation: example1 5s linear infinite;
}

.pad {
    padding-left: 15px;
    padding-top: 15px;
    text-align: center;
}

.pad-key {
    color:white;
    border: 1px solid #191919;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    font-family:CalculatorStandard;
    padding-top:8px;
    margin-bottom: 5px;

 /*   -webkit-box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);
    -moz-box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);
    box-shadow: inset 35px -38px 32px -34px rgba(112,112,112,0.4);*/


    background-image:-webkit-linear-gradient(top, #303d40, #242e30);
    background-image:-moz-linear-gradient(top, #303d40, #242e30);
    background-image:-ms-linear-gradient(top, #303d40, #242e30);
    background-image:-o-linear-gradient(top, #303d40, #242e30);
    background-image:linear-gradient(to bottom, #303d40, #242e30);
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);



}

.pad-key:hover {
    background-image:-webkit-linear-gradient(top, #242e30, #303d40);
    background-image:-moz-linear-gradient(top, #242e30, #303d40);
    background-image:-ms-linear-gradient(top, #242e30, #303d40);
    background-image:-o-linear-gradient(top, #242e30, #303d40);
    background-image:linear-gradient(top, #242e30, #303d40);
}

.pad-key-disabled {
    height: 50px;

}

.pad-key-disabled:hover {
    background-color: inherit;
    cursor: inherit;
}

.ok-button {
    height: 105px;
    width: 100%;
    border-radius: 10px;

    background-image:-webkit-linear-gradient(top, #006600, #004c00);
    background-image:-moz-linear-gradient(top, #006600, #004c00);
    background-image:-ms-linear-gradient(top, #006600, #004c00);
    background-image:-o-linear-gradient(top, #006600, #004c00);
    background-image:linear-gradient(to bottom, #006600, #004c00);
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
}

.ok-button:hover {
    background-image:-webkit-linear-gradient(top, #004c00, #006600);
    background-image:-moz-linear-gradient(top, #004c00, #006600);
    background-image:-ms-linear-gradient(top, #004c00, #006600);
    background-image:-o-linear-gradient(top, #004c00, #006600);
    background-image:linear-gradient(to bottom, #004c00, #006600);
}

.cancel-button {
    height: 105px;
    margin-top:5px;
    width: 100%;
    border-radius: 10px;
    background-image:-webkit-linear-gradient(top, #7f0000, #660000);
    background-image:-moz-linear-gradient(top, #7f0000, #660000);
    background-image:-ms-linear-gradient(top, #7f0000, #660000);
    background-image:-o-linear-gradient(top, #7f0000, #660000);
    background-image:linear-gradient(to bottom, #7f0000, #660000);
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
}

.cancel-button:hover {
    background: #7f0000;
    background-image:-webkit-linear-gradient(top, #660000, #7f0000);
    background-image:-moz-linear-gradient(top, #660000, #7f0000);
    background-image:-ms-linear-gradient(top, #660000, #7f0000);
    background-image:-o-linear-gradient(top, #660000, #7f0000);
    background-image:linear-gradient(top, #660000, #7f0000);
}

.push_button {
    cursor: pointer;
}

.push_button {
    position: relative;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    font-family:CalculatorStandard;
    display: block;
}

.push_button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:2px;
}
.push_button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
}


.entered-code-field {
    border: 1px solid black;
    background-color: #003300;
    font-family: CalculatorStandard;
    font-size: 30px;
    color:green;
    font-weight: bold;
    height: 40px;
}

.attention-poster {
    margin-top:10px;
    margin-right:60px;
}

.product-exit {
    position: relative;
    border: 1px solid #191919;
    /*border-bottom-width: 20px;*/
    margin-top:170px;
    border-radius: 15px;
    height: 60px;
    margin-right:60px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1b1919, 0 4px 2px rgba(0, 0, 0, .5);
}

.product-exit span {
    color:grey;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 15px;
}



