@font-face {
    font-family: CalculatorStandard;
    src: url("./../resources/fonts/digital-7.ttf");
}

.shelf-cell {
    border: 1px solid black;
    height: 205px;
    border-radius: 10px;
    padding:5px;
    text-align: center;

    margin:10px;
}

.control-panel {
    height: 800px;
    background-color: green;
}

.product-code {
    font-family: CalculatorStandard;
    font-size: 25px;
    font-weight: 100;
}